<%- include('../../includes/customer/head.ejs') %>


    <link rel="stylesheet" href="/css/customer/PrivacyPolicy.css">





    <body>
        <!-- nav-bar -->

        <%- include('../../includes/customer/navbar.ejs') %>


            <!-- nav-bar -->

            <!-- contact us thumbnail  -->
            <div class="slide">
                <div class="slide-text">
                    <h1>Privacy Policy
                    </h1>
                </div>
                <img src="/assets/Imgs/Icons/products/contactus-BC.png" alt="Photo 1">
            </div>
            <!-- contact us thumbnail  -->

            <div class="PrivacyPolicycontainer">
                <h1>Data Protection Policy</h1>
                <p><strong>Status:</strong> 01.01.2019</p>

                <div class="contact">
                    <strong>Data Controller:</strong><br>
                    The responsible body, i.e. the data controller, within the meaning of the data protection laws is:
                    <br>
                    Nanodrag Technology GmbH<br>
                    10-12 Mergenthalerallee<br>
                    D-65760 Eschborn, Germany<br>
                    Tel: +49 6196 400816<br>
                    Fax: +49 6196 400910<br>
                    <span class="highlighted">Email: <a href="mailto:info@drag-lab.de">info@drag-lab.de</a> <br>
                        Website: <a href="https://www.drag-lab.de">www.drag-lab.de</a><br></span>
                    Head office: Eschborn<br>
                    Registration court: Amtsgericht Eschborn - HRB 97258<br>
                    Legal Form: Gesellschaft mit Beschränkter Haftung<br>
                    Trade Register: Eschborn HRB 97258<br>
                    Place of Registration: Eschborn<br>
                    10-12 Mergenthalerallee<br>
                    D-65760 Eschborn, Germany<br>
                </div>

                <div class="section">
                    <h2>1. The collection of general information</h2>
                    <p>When you access our website, information of a general nature is automatically collected. This
                        information (server log files) includes for example the type of web browser, the operating
                        system used, the domain name of your internet service provider and the like. This solely
                        involves information that cannot be attributed to you personally. This information is
                        technically necessary in order to correctly deliver the content of web pages that you have
                        requested and is unavoidably necessary when using the internet. We statistically evaluate
                        anonymous information of this kind to optimize our website and the technology that supports it.
                    </p>
                </div>

                <div class="section">
                    <h2>2. Cookies</h2>
                    <p>Like many other websites, we also use "cookies". Cookies are small text files that are
                        transferred to your hard drive by a website server. We thereby automatically receive certain
                        data, such as your IP address, browser used, operating system via your computer and your
                        connection to the internet. Cookies cannot be used to launch programs or to transfer viruses to
                        a computer. Based on the information contained in cookies, we can facilitate navigation and
                        enable our web pages to be displayed correctly. Under no circumstances will the data that we
                        collect be passed on to third parties or any link to your personal data be established without
                        your consent. You can, of course, always view our website without cookies. The settings on
                        internet browsers are routinely adjusted so as to accept cookies. You can disable cookies at any
                        time by changing your browser settings. Please use the help functions of your internet browser
                        to find out how to change these settings. Please note that if you do disable the use of cookies,
                        some of the functions of our website may not work or may only work to a limited extent.
                    </p>
                </div>

                <div class="section">
                    <h2>3. Registering on our website</h2>
                    <p>When you register to use our personalized services, some personal data such as your name,
                        address, contact and communication data, e.g. your telephone number and e-mail address, will be
                        collected. If you are registered with us, you can access the content and services that we offer
                        only to registered users. If necessary, registered users also have the option of at any time
                        changing or erasing the data provided when registering. Of course, we are also always ready to
                        provide you with information about the personal data concerning you that we have stored. We are
                        happy to rectify or erase that data at your request, as long as there are no statutory storage
                        obligations to the contrary. Please use the contact details given at the end of this Data
                        Protection Policy to contact us in this regard.
                    </p>
                </div>

                <div class="section">
                    <h2>4. Newsletter</h2>
                    <p>When registering to receive our newsletter, the data you provide will be used solely for that
                        purpose. Subscribers may also be informed by e-mail of circumstances relevant to the service or
                        registration (e.g. changes to the newsletter offer or technical conditions). For an effective
                        registration, we need a valid e-mail address. To verify that the registration is actually
                        carried out by the owner of a specific e-mail address, we use the "double opt-in" procedure. For
                        this purpose, we record the placement of an order for the newsletter, the sending of a
                        confirmation e-mail and the receipt of the requested response. No further data is collected. The
                        data is only used for sending out newsletters and is not passed on to third parties. You can at
                        any time revoke your consent to the storage of your personal data and to its use for the purpose
                        of sending out newsletters. Each newsletter contains a link for unsubscribing. In addition, you
                        can at any time unsubscribe on this website or inform us of your wish using the contact option
                        specified at the end of this Data Protection Policy.
                    </p>
                </div>

                <div class="section">
                    <h2>5. Contact form</h2>
                    <p>If you contact us by e-mail or the contact form, the information you provide will be stored for
                        the purpose of processing your request as well as for possible follow-up questions.
                    </p>
                </div>

                <div class="section">
                    <h2>6. Use of Google Analytics</h2>
                    <p>This website uses Google Analytics, a web analysis service provided by Google Inc. (hereinafter
                        called Google). Google Analytics uses "cookies", i.e. text files that are stored on your
                        computer and enable an analysis of your use of the website. The information generated by the
                        cookie on your use of this website is usually transmitted to a Google Server in the USA and
                        stored there. However, due to the activation of IP anonymisation on these web pages, your IP
                        address will be shortened by Google within member states of the European Union or in other
                        states party to the Agreement on the European Economic Area. Only in exceptional cases will the
                        full IP address be transmitted to a Google server in the USA and shortened there. On behalf of
                        the operator of this website, Google will use that data to evaluate your use of the website, to
                        compile reports on website activity and to provide other services connected to website and
                        internet usage to the website operator. Google will not combine the IP address that is
                        transmitted by your browser within the context of Google Analytics with other data.
                    </p>
                    <p>You can prevent the storage of cookies by changing the settings of your browser software
                        accordingly; however, we must point out that if you do, you may not be able to make full use of
                        all the features of this website. You can also prevent the data generated by the cookie and
                        related to your use of the website (including your IP address) from being collected and
                        processed by Google by downloading and installing the browser plugin available at the following
                        link: Browser add-on for disabling Google Analytics. In addition, or as an alternative to the
                        browser add-on, you can prevent tracking by Google Analytics on our pages by clicking on this
                        link. An opt-out cookie will thereby be installed on your device. This will prevent Google
                        Analytics from collecting data on this website and this browser in the future, for as long as
                        the cookie remains installed on your browser.
                    </p>
                </div>

                <div class="section">
                    <h2>7. Google AdWords</h2>
                    <p>Our website uses Google conversion tracking. If you have reached our website via an ad placed by
                        Google, Google Adwords will set a cookie on your computer. The conversion tracking cookie is set
                        when a user clicks on a Google-enabled ad. These cookies lose their validity after 30 days and
                        cannot be used to identify you personally. If the user visits certain pages of our website and
                        the cookie has not yet expired, we and Google can see that the user has clicked on the ad and
                        was redirected to this page. Each Google AdWords customer receives a different cookie. Cookies
                        cannot be tracked through AdWords customer websites. The information collected using the
                        conversion cookie is used to generate conversion statistics for AdWords customers who have opted
                        for conversion tracking. Adwords customers can see the total number of users who have clicked on
                        their ad and were forwarded to a page that carries a conversion tracking tag. However, they do
                        not receive any information that personally identifies users. If you do not wish to participate
                        in tracking, you can reject the setting of a cookie necessary for tracking – for example, by
                        setting your browser to disable the automatic setting of cookies or by setting your browser so
                        as to block cookies from the domain "googleleadservices.com". Please note that you must not
                        delete the opt-out cookies if you do not wish measurement data to be recorded. If you have
                        deleted all your cookies in your browser, you must set the relevant opt-out cookie again.
                    </p>
                </div>

                <div class="section">
                    <h2>8. Your rights of access, rectification, locking, erasure and objection</h2>
                    <p>You have the right to at any time access information on your personal data that we have stored.
                        You also have the right to the rectification, locking or (except in the case of mandatory data
                        storage for business processing) the erasure of your personal data. To exercise these rights,
                        please contact our Data Protection Officer, whose contact details can be found at the end of
                        this Data Protection Policy. To allow for data locking at any time, this data must be kept in a
                        lock file for control purposes. You can also request the erasure of the data, unless we are
                        under a legal obligation to archive it. Insofar as such an obligation exists, we will lock your
                        data on request. You may make changes or revoke your consent with effect for the future by
                        notifying us accordingly.
                    </p>
                </div>

                <div class="section">
                    <h2>9. Changes to our Data Protection Policy</h2>
                    <p>We reserve the right to amend this Data Protection Policy from time to time, to ensure that it
                        always fulfils current legal requirements, or in order to make changes to our services in the
                        Data Protection Policy, e.g. when introducing new services. The new Data Protection Policy will
                        accordingly apply when you visit us again. • Questions for the data protection officer
                    </p>
                </div>

                <div class="section">
                    <h2>10. Questions for the Data Protection Officer</h2>
                    <p>If you have any questions, contact:</p>
                    <div class="contact">
                        Data Protection Officer of Nanodrag Technology GmbH<br>
                        Email: <span class="highlighted">
                            <a href="mailto:info@drag-lab.de">webmaster@drag-lab.de</a><br>
                        </span>
                        You also have the right to contact the responsible supervisory authority at any time.
                    </div>
                </div>
            </div>





            <!-- Footer -->

            <%- include('../../includes/customer/footer.ejs') %>


    </body>
    <%- include('../../includes/customer/script.ejs') %>


        </html>