<%- include('../../includes/customer/head.ejs') %>


    <link rel="stylesheet" href="/css/customer/Support.css">
    <script
    src="https://www.google.com/recaptcha/enterprise.js?render=6LdBFQkrAAAAALGPy8986JpxndbqzY1_6kEDxH1s"></script>




    <body>
        <!-- nav-bar -->

        <%- include('../../includes/customer/navbar.ejs') %>


            <!-- nav-bar -->

            <!-- Product Details -->
            <div class="slide">
                <div class="slide-text">
                    <!-- <h1>Water Still Series</h1> -->
                    <div class="slide-text-content">
                        <h1>Professional Support When You Need It</h1>
                        <p>Comprehensive services to design the perfect solution and ensure long-term operation.</p>
                    </div>
                    <a href="/Contactus" class="scroll-button">Contact Us</a>
                </div>
                <img src="/assets/Imgs/Icons/products/support.webp" alt="Photo 1">
            </div>


            <SECtion class="introduction-section">
                <div class="introduction-container">


                    <div class="introduction-text">
                        <h3>Qualification & Validation</h3>
                        <p>Qualification ensures that DragLab product quality is satisfied and that proper procedures
                            are in place for maintenance and operation.
                            We support you to ensure that production and testing processes run smoothly, and product
                            quality remains high.</p>
                        <a href="/Contactus">Contact us for your IQ/OQ qualification plans.</a>
                    </div>
                    <div class="introduction-img">
                        <img src="/assets/Imgs/Icons/products/Qualification&Validation.webp" alt="">
                    </div>
                </div>
            </SECtion>


            <SECtion class="introduction-section">
                <div class="inverse-introduction-container">
                    <div class="introduction-img">
                        <img src="/assets/Imgs/Icons/products/Calibration&Adjustment.webp" alt="">
                    </div>
                    <div class="introduction-text">
                        <h3>Calibration & Adjustment</h3>
                        <p>Calibration is essential to validate laboratory equipment. We identify and document
                            deviations and readjust unit settings as needed.
                            All results are documented in a calibration certificate, ensuring quality tests and
                            processes.
                        <ul>Key Benefits:

                            <li> Factory-standard calibration.</li>
                            <li>Certified measuring devices.</li>
                        </ul>
                        </p>

                        <a href="/Contactus">Contact us for more details on calibration.</a>
                    </div>
                </div>
            </SECtion>


            <SECtion class="introduction-section">
                <div class="introduction-container">

                    <div class="introduction-text">
                        <h3>Maintenance & Technical Support</h3>
                        <p>DragLab devices are built with quality and reliability, but regular maintenance is essential
                            for long-term operation.
                            Authorized technicians provide all maintenance work quickly and competently.
                        <ul>Key Benefits:

                            <li>Expert technical support.</li>
                            <li>Fast response to all requests.</li>
                        </ul>
                        </p>
                        <a href="/technical-service">Request technical support now.</a>
                    </div>
                    <div class="introduction-img">
                        <img src="/assets/Imgs/Icons/products/Maintenance.webp" alt="">
                    </div>
                </div>
            </SECtion>


            <SECtion class="introduction-section">
                <div class="inverse-introduction-container">
                    <div class="introduction-img">
                        <img src="/assets/Imgs/Icons/products/Training.webp" alt="">
                    </div>
                    <div class="introduction-text">
                        <h3>Training Courses & Seminars</h3>
                        <p>The DragLab training program provides essential knowledge for users, partners, and service
                            teams.
                            Learn how to operate and maintain equipment efficiently, with access to the latest technical
                            topics.
                        <ul>Key Benefits:

                            <li>Tailored training sessions.</li>
                            <li>Scheduled programs for partners and users.</li>
                        </ul>
                        </p>
                        <a href="/Contactus">Contact us for upcoming training sessions.</a>
                    </div>
                </div>
            </SECtion>

            <section class="download-area">
                <div class="left-side">
                    <h2>Download Area</h2>
                    <p>Explore our premium-quality solutions and have all the key arguments, features, and
                        specifications at your fingertips.</p>
                    <a href="/Downloads">Explore Downloads</a>
                </div>
                <div class="right-side">
                    <ul>Download Options:
                        <li><a href="#">Brochures</a></li>
                        <li><a href="#">Flyers</a></li>
                        <li><a href="#">Installation packages.</a></li>
                    </ul>
                </div>
            </section>











            <!-- Footer -->

            <%- include('../../includes/customer/footer.ejs') %>


    </body>
    <%- include('../../includes/customer/script.ejs') %>


        </html>