<%- include('../../includes/customer/head.ejs') %>


    <link rel="stylesheet" href="/css/customer/TearmCondition.css">





    <body>
        <!-- nav-bar -->

        <%- include('../../includes/customer/navbar.ejs') %>


            <!-- nav-bar -->

            <!-- contact us thumbnail  -->
            <div class="slide">
                <div class="slide-text">
                    <h1>General Terms and Conditions of Sale
                    </h1>
                </div>
                <img src="/assets/Imgs/Icons/products/contactus-BC.png" alt="Photo 1">
            </div>
            <!-- contact us thumbnail  -->

            <section class="terms-container">

                <article class="terms-article">
                    <h3>Definitions</h3>
                    <p><strong>Nanodrag</strong> means Nanodrag technology GmbH the company supplying the goods or
                        services, or a subsidiary.<br>
                        <strong>Customer</strong> means the individual, company or other party with whom the seller
                        contracts.<br>
                        <strong>Contract</strong> means the contract order for the purchase of goods or services.
                    </p>

                    <h3>1. General</h3>
                    <p>1.1 Any delivery of goods and services by Nanodrag as the seller to the customer ('Customer')
                        shall be subject to the Terms and Conditions set forth herein to the extent no other agreements
                        have been explicitly made. The Customer’s general terms and conditions that are inconsistent
                        with the Terms and Conditions set forth herein shall only be applicable to the extent Nanodrag
                        has explicit approved in writing.</p>
                    <p>1.2 Any claims held against Nanodrag may not be assigned to third parties. Section 354a of the
                        German Commercial Code (HGB) shall remain unaffected.</p>
                    <p>1.3 The sale, resale and the disposal of goods and services including any associated technology
                        or documentation may be governed by German, EU, US export control regulations as well as by the
                        export control regulations of further countries. Any resale of goods to embargoed countries or
                        to denied persons or persons that use or may use the goods for military purposes, ABC weapons or
                        nuclear technology is subject to an official license. Customer declares with his order the
                        conformity with such statutes and regulations and that the goods will not directly or indirectly
                        delivered into countries that prohibit or restrict the import of such goods. Customer declares
                        to have obtained all licenses required for export and import.
                    </p>

                    <h3>2. Information, Consultancy</h3>
                    <p>Information and consultancy in relation to Nanodrag’ goods and services is provided as deemed
                        appropriate from existing experience. Any values quoted as part thereof, especially performance
                        data, represent average values which have been determined through experiments under standard
                        laboratory conditions. Nanodrag cannot assume any commitment for its products to precisely meet
                        the quoted values and areas of application. Section 10 of these Terms and Conditions governs any
                        issues of liability.
                    </p>

                    <h3>3. Prices</h3>
                    <p>3.1 The prices quoted in the order confirmation of Nanodrag shall solely apply. Additional
                        services will be invoiced separately.
                    </p>
                    <p>3.2 All prices are quoted as net prices and do not include value added tax, which is to be paid
                        additionally by the Customer in the amount specified by applicable law.
                    </p>
                    <p>3.3 Unless otherwise expressly agreed, the prices are quoted ex works of the Nanodrag company
                        using these Terms and Conditions. The Customer shall bear all additional freight costs, packing
                        costs in excess of standard packing, public fees (including withholding taxes) and duties.
                    </p>

                    <h3>4. Delivery</h3>
                    <p>4.1 Unless otherwise expressly agreed, Nanodrag shall deliver ex works (EXW INCOTERMS 2010) of
                        the Nanodrag company using these Terms and Conditions.</p>
                    <p>4.2 Delivery periods shall only be binding if expressly agreed in writing. Delivery periods shall
                        begin on the date of the order confirmation by Nanodrag, however, in no case prior to settlement
                        of all details relating to an order including the furnishing of any required official
                        certificates. Delivery periods shall be deemed to be met on timely notification of readiness to
                        ship if the goods cannot be dispatched in time through no fault of Nanodrag.
                    </p>
                    <p>4.3 With respect to delivery periods and dates, which are not expressly defined as fixed in the
                        order confirmation, the Customer may -two weeks after expiry of such a delivery period or date-
                        set an adequate grace period for delivery. Nanodrag may only be deemed to be in default after
                        expiry of such a grace period.
                    </p>
                    <p>4.4 Without prejudicing Nanodrag’ rights from Customer’s default, delivery periods and dates
                        shall be deemed to be extended by the period of time during which the Customer fails to comply
                        with his obligations towards Nanodrag. In case nanodrag does not comply with its obligations
                        Nanodrag shall only be liable for all types of damages in accordance with section 10 of these
                        Terms and Conditions.
                    </p>
                    <p>4.5 Nanodrag reserves the right to carry out a delivery using its own delivery organization.
                    </p>
                    <p>4.6 Nanodrag may perform partial deliveries and render partial services if such action would not
                        unreasonably affect the Customer.
                    </p>
                    <p>4.7 The Customer may rescind the contract after two unsuccessful grace periods unless the
                        hindrance is merely temporary in nature and a delay would not unreasonably affect the Customer.
                    </p>
                    <p>4.8 Any contractual or statutory right of a Customer to rescind the contract, which the Customer
                        fails to exercise within a reasonable period of time set by Nanodrag, shall be forfeited.
                    </p>

                    <h3>5. Shipment, Passing of Risk</h3>
                    <p>5.1. Unless otherwise expressly agreed, shipment shall always be carried out at the Customer's
                        risk. The risk shall pass to the Customer as soon as the goods have been handed over to the
                        person executing the shipment.
                    </p>
                    <p>5.2 If a shipment is delayed for reasons to be attributed to the Customer, the risk of accidental
                        deterioration, loss and destruction shall pass to the Customer on notification of Nanodrag’
                        readiness to ship. Required storage costs after passing of risk shall be borne by the Customer.
                        This shall not affect any other claims.
                    </p>
                    <p>5.3 If the Customer defaults in accepting, Nanodrag shall be entitled to claim refund of any
                        expenditure associated therewith and the risk of accidental deterioration, loss and destruction
                        shall pass to the Customer.
                    </p>
                    <h3>6. Payment</h3>
                    <p>6.1 Payment shall be made in full within 30 days from the date of the invoice. Payment shall be
                        considered to have been made on the day the payable sum is received by Nanodrag. Bills of
                        exchange and cheques shall not be deemed payment until after they have been honored and will be
                        accepted without any obligation to make timely presentation and timely protest.
                    </p>
                    <p>6.2 Immediately upon default of payment – or from the due date if Customer is a merchant within
                        the meaning of the German Commercial Code (HGB) – Nanodrag reserves the right to claim a higher
                        actual damage.
                    </p>
                    <p>6.3 Customers may only withhold or offset due payments against their own counter-claims if these
                        are uncontested or have been found to be legally binding.
                    </p>
                    <p>6.4 Any of Nanodrag’ receivables shall be immediately payable in the event of a default in
                        payment, a notice given in protest against a bill of exchange or suspension of the Customer's
                        payments, independent of the term of the bills of exchange which may have already been accepted.
                        In any of these aforementioned cases, Nanodrag shall also be able to perform remaining
                        deliveries only against advance payment or provision of security, and, if no such advance
                        payment is made or security provided within a two-week time period, to cancel the contract
                        without fixing another extension term. This
                        shall not affect any further claims.
                    </p>

                    <h3>7. Retention of Title</h3>
                    <p>7.1 Delivered goods shall fully remain property of Nanodrag (goods sold subject to retention of
                        title) until all receivables, on whatever legal grounds, have been fully paid up.
                    </p>
                    <p>7.2 In case of processing, combining or mixing of goods subject to retention of title with goods
                        of the Customer, Nanodrag shall be entitled to co-ownership of the new property inasmuch as the
                        invoiced value of goods sold with retention of title relates to the value of the other involved
                        goods. Where Nanodrag co-ownership becomes null and void due to processing, combining or mixing
                        with other goods, the Customer immediately assigns to Nanodrag those of his rights of ownership
                        in the new property or compound matter which correspond to the amount of the value of goods
                        subject to retention of title by Nanodrag. Customer shall also be responsible for holding such
                        rights in safe custody on the behalf of Nanodrag and at Customer’s own expense. Any rights to
                        co-ownership created as a result of such processing, combining or mixing shall be subject to
                        section 7.1 of these Terms and Conditions.
                    </p>
                    <p>7.3 The Customer may resell, process, combine or mix with other property, or otherwise integrate
                        goods under retention of title in normal business operations, as long as the Customer is not
                        defaulting. The Customer shall be prohibited from taking any other disposition regarding goods
                        for which Nanodrag retains title. Nanodrag shall be promptly notified about any hypothecation or
                        other seizure of goods under retention of title through a third party. All intervention costs
                        will be charged to the Customer if and to the extent that they cannot be collected from such
                        third party. If the Customer grants his buyer additional time for payment of the sales price,
                        Customer shall reserve title in goods resold with retention of Nanodrag’ title under the same
                        terms which Nanodrag has applied when delivering such goods with retention of title. The
                        Customer shall be prohibited from any other kind of resale.
                    </p>
                    <p>7.4 The Customer shall immediately assign to Nanodrag any receivables resulting from a resale of
                        goods initially sold with retention of Nanodrag’ title. These will be used to substitute the
                        goods under retention of title as collateral of the equivalent amount. The Customer shall only
                        be entitled and authorized to resell such goods if his receivables therefrom accrue to Nanodrag.
                    </p>
                    <p>7.5 If the Customer resells goods under retention of our title together with goods from other
                        suppliers at a certain total price, Customer shall assign to Nanodrag his receivables from such
                        resale in the same amount as stated in the invoice for goods initially sold with retention of
                        title by Nanodrag.
                    </p>
                    <p>7.6 If an assigned receivable is included into a current account, the Customer immediately
                        assigns to Nanodrag that part of the balance which is equivalent to the amount of such
                        receivable, including the final balance from current account operations.
                    </p>
                    <p>7.7 Until Nanodrag gives notice of revocation, the Customer shall be authorized to collect
                        receivables assigned to Nanodrag. Nanodrag shall be entitled to such revocation if the Customer
                        fails to meet his payment obligations under the business relationship with Nanodrag in due
                        course. If the preconditions for exercising a revocation right are fulfilled, the Customer shall
                        promptly notify Nanodrag of any assigned receivables with respective debtors, furnish all data
                        required for collection of such receivables, hand over all related documentation and advise the
                        debtors of such assignment. Nanodrag reserves the right to personally advise the debtors of such
                        assignment.
                    </p>
                    <p>7.8 If the value of the collateral deposited for the benefit of Nanodrag exceeds the amount of
                        secured claims by a total of more than fifty (50) per cent, the Customer shall be entitled to
                        demand that Nanodrag insofar release securities of the choice of Nanodrag.
                    </p>
                    <p>7.9 If Nanodrag claims retention of title, this shall only be understood as rescind of the
                        contract if expressly stated so by Nanodrag in writing. The Customer's right to possess goods
                        under retention of title shall be null and void if he fails to meet his contractual obligations.
                    </p>

                    <h3>8. Warranty</h3>
                    <p>8.1 The goods claimed to be defective shall be returned to Nanodrag for examination in their
                        original or equivalent packaging. Nanodrag shall remedy defects if the warranty claim is valid
                        and within the warranty period. It is at Nanodrag’ discretion whether Nanodrag remedies the
                        defect by repair or replacement. Nanodrag shall only bear the costs necessary to remedy the
                        defect.
                    </p>
                    <p>8.2 Nanodrag shall be entitled to refuse to remedy defects in accordance with Nanodrag’ statutory
                        rights. Nanodrag may refuse to remedy defects if the Customer has not complied with Nanodrag’
                        request to return the goods claimed to be defective.
                    </p>
                    <p>8.3 The Customer shall be entitled to rescind the contract or reduce the contract price in
                        accordance with his statutory rights, however, the Customer shall not be entitled to rescind the
                        contract or to reduce the contract price, unless the Customer has previously given Nanodrag
                        twice a reasonable period to remedy the defect which Nanodrag has failed to observe, unless
                        setting of such a period to remedy defects is dispensable. In the event of rescission, Customer
                        shall be liable for any intentional or negligent actions that cause destruction or loss of the
                        goods as well as for failure to derive benefits from the goods.
                    </p>
                    <p>8.4 If Nanodrag maliciously withholds disclosure of a defect or gives a quality warranty in
                        accordance with section 444 of the German Civil Code (a representation by the seller that the
                        goods will have certain qualities at the time the risk passes and acceptance by seller of strict
                        liability in the event that they do not), the Customer’s rights shall be governed exclusively by
                        the statutory provisions.
                    </p>
                    <p>8.5 Any rights of the Customer to receive damages or compensation shall be governed by the
                        provisions in section 10 of these Terms and Conditions.
                    </p>
                    <p>8.6 Specifications of Nanodrag’ goods, especially pictures, drawings, data about weight, measure
                        and capacity contained in offers and brochures are to be considered as average data. Such
                        specifications and data shall in no way constitute a quality warranty but merely a description
                        or labelling of the goods.
                    </p>
                    <p>8.7 Unless limits for variations have expressly been agreed in the order confirmation, such
                        variations shall be admissible that are customary within the trade.
                    </p>
                    <p>8.8 Nanodrag shall not accept any liability for defects in the goods supplied if they are caused
                        by normal wear and tear. The Customer shall have no rights against Nanodrag in respect of
                        defects in goods sold as lower-class or used goods.
                    </p>
                    <p>8.9 Any warranty shall be void if operating or maintenance instructions are not observed, if
                        changes are made to deliveries or services, if parts are replaced or materials used that are not
                        in accordance with the original product specifications by Nanodrag, unless the Customer can show
                        that the defect in question resulted from another cause.
                    </p>
                    <p>8.10 Provided that the Customer is a merchant, the Customer shall be obliged to notify defects to
                        Nanodrag in writing or via fax.
                    </p>
                    <p>8.11 The limitation period for claims for defects shall be 12 months (24 months in case the
                        Customer is a consumer). This shall not apply to Customer’s claims for damages based on damages
                        of body or health caused by a defect for which Nanodrag is responsible or claims for damages
                        based on intentional or grossly negligent conduct by Nanodrag.
                    </p>

                    <h3>9. Limited Liability</h3>
                    <p>9.1 In case of a breach of contractual obligations, defective deliveries or tortuous acts,
                        Nanodrag shall only be obliged to compensate damages or expenses – subject to any other
                        contractual or statutory conditions for liability – if Nanodrag has acted intentionally or with
                        gross negligence or in cases of minor negligence, if such negligence results in the breach of an
                        essential contractual duty (a duty the breach of which puts the fulfilment of the purpose of the
                        contract at risk). However, in case of minor negligence, Nanodrag’ liability shall be limited to
                        typical damages which are foreseeable at the time of the conclusion of the contract.
                    </p>
                    <p>9.2 The liability of Nanodrag for losses caused by late delivery due to minor negligence shall be
                        limited to 5% of the agreed purchase price.
                    </p>
                    <p>9.3 The exclusions and limitations of liability in sections 10.1 – 10.2 shall not apply in cases
                        of a quality warranty in accordance with section 444 of the German Civil Code (see section 9.4),
                        in cases where Nanodrag has maliciously failed to disclose a defect, in case of damages
                        resulting from death, injury to health or physical injury or where the laws on product liability
                        impose overriding liabilities which cannot be excluded.
                    </p>
                    <p>9.4 The limitation period for claims against Nanodrag – based on whatever legal ground – shall be
                        12 months (24 months in case Customer is a consumer) from the date of delivery to the Customer
                        and in case of tortious claims, 12 months (24 months in case Customer is a consumer) from the
                        date the Customer becomes aware or could have become aware of the grounds giving rise to a claim
                        and the liable person, had the Customer not been grossly negligent. The provisions in this
                        clause shall neither apply in cases of intentional or gross negligent breaches of duty nor shall
                        they apply in cases referred to in section 10.3 of these Terms and Conditions.
                    </p>
                    <p>9.5 If the Customer is an intermediary seller of the goods obtained from Nanodrag and the final
                        purchaser of the goods is a consumer, the limitation period for any action of recourse against
                        Nanodrag by the Customer shall be the period specified by statute.
                    </p>

                    <h3>10. Industrial Property Rights, Copyrights</h3>
                    <p>10.1 In the event of claims against the Customer because of breach of an industrial property
                        right or a copyright in using deliveries or services supplied by Nanodrag in accordance with the
                        contractually defined manner, Nanodrag shall be responsible to obtain the right for the Customer
                        to continue using such deliveries or services, provided that the Customer gives immediate
                        written notice of such third-party claims and Nanodrag’ rights to take all appropriate defensive
                        and out-of-court actions are reserved. If, despite such actions, it proves impossible to
                        continue using the deliveries or services supplied by Nanodrag under reasonable economic
                        conditions, it shall be understood as agreed that Nanodrag may, at the discretion of Nanodrag,
                        modify or replace the particular delivery or service for removal of a legal deficiency, or take
                        back such delivery or service with refunding of the sales price previously paid to Nanodrag less
                        a certain deduction to account for the age of the delivery or service in question.
                    </p>
                    <p>10.2 The Customer shall have no further claims alleging infringement of industrial property or
                        copyrights provided Nanodrag has neither violated essential contractual duties nor intentionally
                        or grossly negligently breached contractual duties. Nanodrag shall have no obligations in
                        accordance with section 10.1 in case breaches of rights are caused by exploiting the deliveries
                        or services supplied by Nanodrag in any other manner than contractually defined or by operating
                        these together with any other than Nanodrag deliveries or services.
                    </p>

                    <h3>11. Confidentiality</h3>
                    <p>11.1 Unless otherwise expressly stipulated in writing, no information provided to Nanodrag in
                        connection with orders shall be regarded as confidential, unless their confidential nature is
                        obvious.
                    </p>
                    <p>11.2 Nanodrag points out that personal data in relation to the contractual relationship may be
                        stored by Nanodrag and may be transferred to companies associated with Nanodrag in the Nanodrag
                        Group.
                    </p>
                </article>
            </section>





            <!-- Footer -->

            <%- include('../../includes/customer/footer.ejs') %>


    </body>
    <%- include('../../includes/customer/script.ejs') %>


        </html>