


<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <img src="/assets/Imgs/logo/DragLab-Logo.png" alt="DragLab Logo" class="footer-logo">
            <p>DragLab is a manufacturer and global distributor of laboratory equipment. Our portfolio includes
                incubators, ovens, distillers, and liquid handling systems for research and industry.</p>
            <p></p>
        </div>

        <div class="footer-links">
    


            <div class="footer-column">
                <h4>News & Events</h4>
                <ul>
                    <li><a href="/Articles/EN">News</a></li>
                    <li><a href="/Articles/EN">Articles</a></li>
                    <li><a href="/Articles/EN">Events</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>About Us</h4>
                <ul>
                    <!-- <li><a href="#">Careers</a></li> -->
                    <li><a href="/qualityPolicy/EN">Quality Policy</a></li>
                    <li><a href="/Downloads/EN">Certificates</a></li>
                    <!-- <li><a href="#">Sustainability</a></li> -->
                    <li><a href="/aboutus/EN">About Us</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li><a href="/technical-service/EN">Technical Service</a></li>
                    <li><a href="/Contactus/EN">Contact us</a></li>
                    <li><a href="/Downloads/EN">Download Center</a></li>

                    <!-- <li><a href="#">FAQs</a></li>
                    <li><a href="#">Quality Assurance Process</a></li> -->
                </ul>
            </div>
            <div class="footer-column contactusFooter">
                <h4>Contact us</h4>
                <ul>
                    <li> <span class="highlighted">Adress:</span>  <a href="https://maps.app.goo.gl/AEP5y3Gwv7ejRwa48" target="_blank">Alfred-Herrhausen-Allee<br> 3-5 
                            D-65760 Eschborn
                            Germany</a></li>
                    <li><span class="highlighted">Phone :</span> +49 6196 400816</li>
                    <li><span class="highlighted">Fax :</span> +49 6196 400910</li>

                    <li>
                        <span class="highlighted">Email:</span> <a href="mailto:info@drag-lab.de">info@drag-lab.de</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-legal">
            <a href="/PrivacyPolicy/EN">Privacy Policy</a> | <a href="/TermCondition/EN">Terms & Conditions</a>
        </div>
        <div class="footer-social">
            <a href="https://www.linkedin.com/in/ra%C3%9Fan-h-bosch-a014b8183/"><i class="fa-brands fa-linkedin"><img
                        src="/assets/Imgs/Icons/products/LinkedIn.png" alt="DragLab LinkedIn"></i></a>
            <a href="https://www.facebook.com/draglabde/"><i class="fa-brands fa-facebook"><img
                        src="/assets/Imgs/Icons/products/facebook.png" alt="DragLab facebook"></i></a>
            <a href="https://www.youtube.com/channel/UC5TffQfcaIONbKBBxKpyxag"><i class="fa-brands fa-youtube"><img
                        src="/assets/Imgs/Icons/products/youtube.png" alt="DragLab youtube Channle"></i></a>
        </div>
        <div class="footer-copy">
            © Copyright DragLab. All Rights Reserved
        </div>
    </div>
</footer>