<%- include('../includes/customer/head.ejs') %>

    <%- include('../includes/customer/header-end.ejs') %>


        <body>

            <!-- nav-bar -->


            <div class="navbarContainer">
                <div class="navright">
                    <a href="/EN">
                        <img src="/assets/Imgs/logo/DragLab-Logo.png" alt="DragLab Logo">
                    </a>
                </div>

                <div class="navMidLeft">

                    <div class="navMid">

                    </div>



                    <div class="navLeft">
                        <div class="navMidRight">
                            <input type="text" id="search" name="search" placeholder="Search..">
                            <img src="/assets/Imgs/Icons/search.png" alt="search" class="search-icon">

                        </div>
                        <div id="searchResults" class="search-results"></div>

                    </div>

                </div>





            </div>



            <!-- nav-bar -->


            <h2 style="margin: 10rem  ; font-size: 27px;"> 404 :)</h2>
            <h1 style="margin: 10rem  ; font-size: 27px;"> Nothing to see hereeeeeee</h1>

            <%- include('../includes/customer/footer.ejs') %>
        </body>

        <%- include('../includes/customer/script.ejs') %>

            </html>