<%- include('../../includes/sellercompany/head.ejs') %>

  <link rel="stylesheet" href="/Css/sellercompany/dashboard.css">
  <%- include('../../includes/sellercompany/head-end.ejs') %>

    <body>
      <!-- nav-bar -->
      <%- include('../../includes/sellercompany/navbar-dash.ejs') %>
        <!-- nav-bar -->

        <!-- Product Details -->

        <section class="sidebar-content-container">
          <section class="sidebar-container">
            <!-- sidebar -->
            <%- include('../../includes/sellercompany/sidebar.ejs') %>
              <!-- sidebar -->
          </section>
          <section class="content-container">
            <div class="container-head">
              <h1>Dashboard</h1>
            </div>
            <div class="dashboard-grid">
              <a href="/admin/Myproduct" class="dashboard-card">
                <img src="/assets/Imgs/Icons/basket.png" alt="Products">
                <p>Manage Products</p>
              </a>

              <a href="/admin/slideshow" class="dashboard-card">
                <img src="/assets/Imgs/Icons/Slideshows-icon.png" alt="Slides">
                <p>Manage Slides</p>
              </a>

              <a href="/admin/articles" class="dashboard-card">
                <img src="/assets/Imgs/Icons/articles.png" alt="Articles">
                <p>Manage Articles</p>
              </a>

              <a href="/admin/catalogs" class="dashboard-card">
                <img src="/assets/Imgs/Icons/cataloge-catigories.png" alt="Catalogs">
                <p>Catalog Categories</p>
              </a>
              <a href="/admin/TechnicalRequests" class="dashboard-card">
                <img src="/assets/Imgs/Icons/Technical-Support.png" alt="Technical Support">
                <p>Technical Support</p>
              </a>
              <a href="/admin/warranty-registrations" class="dashboard-card">
                <img src="/assets/Imgs/Icons/Warranty-Registrations.png" alt="warranty registrations">
                <p>warranty registrations</p>
              </a>
              <a href="/admin/contact-messages" class="dashboard-card">
                <img src="/assets/Imgs/Icons/contactUs-Messages.png" alt="contact messages">
                <p>contact messages</p>
              </a>

         

              <a href="/admin/adduser" class="dashboard-card">
                <img src="/assets/Imgs/Icons/addUser.png" alt="Users">
                <p>Add Admin / Seller</p>
              </a>
            </div>
            <h2 id="External">External Links</h2>

            <div class="dashboard-grid">
              <a href="https://analytics.google.com/" class="dashboard-card">
                <img src="/assets/Imgs/Icons/ic_analytics.png" alt="google analytics">
                <p>google analytics</p>
              </a>
              <a href="https://ads.google.com" class="dashboard-card">
                <img src="/assets/Imgs/Icons/GoogleAds.png" alt="google analytics">
                <p>google ads</p>
              </a>
              <a href="https://dashboard.tawk.to/#/dashboard" class="dashboard-card">
                <img src="/assets/Imgs/Icons/tawk-sitelogo1.png" alt="tawk">
                <p>tawk costomers chats</p>
              </a>
            
              
            </div>
          </section>
        </section>



        </section>
        </section>
    </body>


    </html>